#mainDiv {
    height: 500px;
    width: 338px;
    margin: 10;
    background-color: red;
    padding: 10px 10px 10px 10px;
    color: #FFFFFF;
    font-family: Helvetica;
    border-radius: 7px;
    align-content: center;
    justify-content: center;
}

body {
    align-content: center;
    justify-content: center;
    background-color: aquamarine;
}

#display {
    height: 72px;
    width: 325px;
    margin: 10px;
    font-size: 50px;
    border: 5px;
    border-radius: 8px;
    text-align: end;
    color: black;
    justify-content: center;
}

#buttons {
    margin: 10px;
    width: 325px;
    background-color: black;
    border-radius: 10px;
    /* padding-left: */
}

.btns {
    background-color: gray;
    height: 60px;
    width: 50px;
    border-radius: 25%;
    margin: 5px;
    font-size: 28px;
    color: white;
}

.btns:hover {
    background-color: mediumseagreen;
    font-size: 35px;
    cursor: pointer;

}

#equal {
    width: 100px;
    margin-left: 15px;
    background-color: forestgreen;
}

#clr {
    margin-right: 194px;
    margin-left: 10px;
    background-color: red;
}

#multiply {
    background-color: orange;
}

#divide {
    background-color: orange;
}

#subtract {
    background-color: orange;
}

#add {
    background-color: orange;
}

#one {
    margin-right: 25px;
    margin-left: 10px;
}

#two {
    margin-right: 25px;
}

#three {
    margin-right: 25px;
}

#four {
    margin-right: 25px;
    margin-left: 10px;
}

#five {
    margin-right: 25px;
}

#six {
    margin-right: 25px;
}

#seven {
    margin-right: 25px;
    margin-left: 10px;
}

#eight {
    margin-right: 25px;
}

#nine {
    margin-right: 25px;
}

#period {
    margin-right: 25px;
    margin-left: 10px;
}

#zero {
    margin-right: 25px;
}

h4 {
    text-align: center;
    margin-top: 0;
}
